# Python virtual environment
.venv/
venv/
env/

# Resources directory
resources/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE settings
.idea/
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env 