PyMuPDF==1.23.8
Pillow==10.2.0
python-docx==0.8.11
docx2pdf==0.1.8
fastapi
fastapi-users[sqlalchemy]
fastapi-mail
python-jose[cryptography]
passlib[bcrypt]
python-multipart
sqlalchemy
asyncpg
python-dotenv
pytest==7.4.3
httpx==0.25.2
pytest-asyncio==0.21.1
aiomysql==0.2.0
sqlalchemy[asyncio]
pydantic-settings==2.1.0
uvicorn==0.24.0